extends layout

block content
  link(rel='stylesheet', href='/stylesheets/Index/index.css')
  .container-fluid
    .row.full-height 
      .col-md-2.full-height 1
      #map.col-md-8.full-height 2
      .col-md-2.full-height 1
  script(src='https://maps.googleapis.com/maps/api/js?' defer)
  script(src="/javascripts/build/Index/index.js")