doctype html
html
  head
    title 新北市政府--災害演練系統
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
    block css
  body
    block content
        
    block script