div.col-md-2 {
    background: rgba(0, 0, 0, 0.3);
}

.messages {
    background: beige;
}

.resInput {
    text-align: right
}

.nav-tabs li a {
    font-size: 22px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    padding: 2px 3px 2px 3px;
}


/* 2016.1.22 new */

.full-height {
    height: 100vh;
}

.custom-content {
    height: 72vh;
}

.custom-content>div {
    height: 100%;
    overflow: auto;
}

.situation {
    height: 14vh;
    padding: 5px;
    overflow-y: auto;
}

.situation h3 {
    margin: 5px 0 0 0;
    font-weight: bold;
    font-family: Microsoft JhengHei;
}

.situation .situation_step::before {
    content: "演練階段: "
}

.situation .situation_description::before {
    content: "狀況發生: "
}

.situation #system_time {
    text-align: right;
    position: absolute;
    background: white;
    right: 0;
    bottom: 0;
}

.situation #system_time::before {
    content: "演練時間: ";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 14vh;
    background-color: #f5f5f5;
    left: 0;
}

.footer div {
    height: inherit;
    text-align: center
}

.footer .footer-initial {
    height: initial;
}

.footer .border-bottom {
    border-bottom-style: solid;
    border-bottom-color: aqua;
    border-bottom-width: thin;
}

.footer .input-group {
    position: absolute;
    bottom: 0;
    width: 90%;
    right: 5%;
}

#departList {
    padding: 0 0 0 0;
    overflow-x: auto;
}

.eagle-map {
    border: 3px solid red;
}

.eagle-map .gmnoprint a,
.gmnoprint span {
    display: none;
}

.eagle-map.gmnoprint div {
    background: none !important;
}

#eagleMap div div a div img {
    display: none;
}


/*
    Chat message app
*/

.map {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.chat {
    padding-top: 0;
}

.chat .login-user {
    height: 30%;
    padding: 5px 5px 5px 5px;
    border: 3px solid blue;
    display: block;
    border-radius: 10px;
    padding-top: 0;
}

.chat .message-list {
    height: 64%;
    padding: 5px 5px 5px 5px;
    border: 3px solid red;
    display: block;
    border-radius: 10px;
    overflow-y: auto;
    word-break: break-word;
}

.chat .send-message {
    height: 6%;
    background: blue;
}

.same-height {
    height: inherit;
}

#wrapper {
    position: relative;
    padding: 0 0 0 0;
}

#system_message {
    position: absolute;
    top: 75%;
    left: 80%;
    z-index: 99;
    width: 20%;
    height: 25%;
    word-break: break-word;
    background: gray;
    overflow-y: scroll;
}

.over_map_processbar {
    position: absolute;
    z-index: 99;
    width: 100px;
    border: 3px solid #ebebeb;
    display: none;
}

.progressbar-container {
    background: green;
}


/*
 * fixed spin button
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number] {
    width: 80%;
}
